body{
	background: url(../img/bg.png);
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	background-attachment:fixed;
}

main{
	display: block;
	width: 1024px;
	margin: 0 auto;
	position:relative;
}

.separate{
	width: 1px;
	background: black;
	position:absolute;
}

.sp_1{
	height: 224px;
	left: 50%;
	top: 140px;
}

.sp_2{
	height: 80px;
	left: 50%;
	top:0;
}

.sp_3{
	height: 224px;
	left: 50%;
	top:102px;
}

.sp_4{
	height: 440px;
	left: 50%;
	top:102px;
}

.sp_5{
	height: 380px;
	left: 50%;
	top:102px;
}

.sp_6{
	height: 340px;
	left: 50%;
	top:102px;
}

/************ HEADER ************/

header{
	width: 100%;
	margin-top: 40px;
}

header h1{
	font-size: 190px;
	color: #e3d212;
	text-transform: uppercase;
	margin-bottom: 24px;

	text-shadow: 1px 2px 3px #666;
}

.border_header{
	width: 1024px;
	height: 32px;
	background: url(../img/border_header.png);
}

header .col_left img{
	margin-top: 72px;
}

 header .col_right img{
 	margin-top: 86px;
 }

 header p{
 	font-size: 24px;
 	width: 100%;
 	text-transform: uppercase;
 	line-height: 40px;
 	font-weight: bold;
 }

/************ HEADER ************/

/************ COLONNE ************/

.col_left, 
.col_right{
	width: 50%;
	position: relative;
}

.header{
	height: 520px;
}

.col_left{
	float: left;
}

.col_right{
	float: right;
}

/************ COLONNE ************/

/************ CONTENT ************/

.content_1,
.content_2
.content_3,
.content_4,
.content_5,
.content_6,
.content_7{
	width: 100%;
	position: relative;
}

h2.titrelondon, h2.titreny{
	display: block;
	font-size: 48px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	margin-top: 48px;
	color: white;
	padding: 12px 0;
}

h3{
	display: block;
	font-size: 48px;
	text-align: center;
	width: 100%;
	margin: 24px 0 12px 0;
	color: black;
	font-weight: bold;
}

small{
	display: block;
	font-size: 16px;
	text-align: center;
	font-weight: lighter;
}

.titreny{
	background: #e3d212;
}

.titrelondon{
	background: black;
}

.number_cab_ny, 
.number_cab_uk{
	font-weight: bold;
	font-size: 72px;
	text-align: center;
	padding: 16px 0;
}

.info{
	width: 100%;
	margin: 32px 0;
}

.info p{
	font-weight: lighter;
	text-align: center;
	line-height: 32px;
}

.content_2,
.content_3,
.content_4,
.content_5,
.content_6,
.content_7{
	border-bottom: 1px solid black;
	padding-bottom: 48px;
	position: relative;
}

.content_3{
	padding-bottom: 64px;
}

.content_2 p{
	text-align: center;
	font-weight:lighter;
	margin-top: 32px;
}

.content_2 img{
	position: absolute;
	top: 24px;
	left: 132px;
}

.content_3 p{
	font-size:72px;
	width: 75%;
	margin: 32px auto;
	font-weight: bold;
}

.content_3 p span{
	font-weight: 300;
}

.content_3 img{
	position: absolute;
	top: 32px;
	left: 224px;
}

.content_3 .col_left span{
	margin-left: 35px;
}

.content_3 .col_left small,
.content_3 .col_right small{
	position: absolute;
	color: #5d5d5d;
	font-size: 30px;
	font-weight: bold;
}

.content_3 .col_left small{
	left: 266px;
}

.content_3 .col_right small{
	left: 246px;
}

.graphique_distance{
	width: 960px;
	margin: 32px auto;
}

.yellow, .black{
	width:20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 40px;
}

.legende_london p, .legende_ny p{
	position: absolute;
	bottom: 12px;
	font-size: 16px;
	font-weight: lighter;
}

.legende_ny p{
	left: 64px;
}

.legende_london p{
	left: 228px;
}

.yellow{
	background: #e3d212;
}

.black{
	background: black;
	left: 200px;
}

.population{
	width: 90%;
	margin: 0 auto;
	padding-top: 60px;
}

.population img{
	margin-left: 20px;
	padding-bottom: 40px;
	position:relative;
}

.reference{
	position:absolute;
	bottom: 10px;
	left: 40px;
}

.ref_people{
	position: absolute;
	bottom: 12px;
	font-size: 16px;
	font-weight: lighter;
	left: 72px;
}

.graphique_usa, .graphique_uk{
	width: 431.4px;
	margin: 0 auto;
	padding-top: 48px;
}

.age_usa{
	width: 206px;
	position:relative;
	left: 153px;
	padding: 48px 0;
}

.graphique_heure{
	width: 900px;
	margin: 0 auto;
	padding: 48px 0;
}

.pneu{
	width: 185px;
	height: 185px;
	position: absolute;
	left: 388px;
	top: 380px;
}

.graphique_distance{
	position: relative;
}

#pneu{
	width: 185px;
	height: 180px;
	position: absolute;
	z-index: 100;
}

.pneu ul{
	text-align: center;
	font-size: 18px;
	margin-top: 60px;
}

.pneu li{
	width: 185px;
	height: 185px;
	position: absolute;
	display: none;
}

#pneu.unactive{
	background: none;

	-webkit-animation-name: bounceOut;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.4s;
	-webkit-animation-fill-mode: both;
}


.pneu li.active {
	display: block;

	-webkit-animation-name: bounce;
	-webkit-animation-delay: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.7s;
	-webkit-animation-fill-mode: both;
}


/************ CONTENT ************/

.ny_cab{
	margin-top: 40px;
	position:relative;
	left: 80px;
}

.london_cab{
	margin-top: 32px;
	position:relative;
	left: 120px;
}

/************ DISTANCE ************/

#low_x5F_london path, 
#low_x5F_ny path, 
#middle_x5F_ny path,
#middle_x5F_london path,
#full_x5F_london path,
#full_x5F_ny path{

	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;

	cursor: pointer;
}

#low_x5F_london:hover path, 
#low_x5F_ny:hover path{
	stroke-width:20px;
}

#middle_x5F_london:hover path, 
#middle_x5F_ny:hover path{
	stroke-width:35px;
}

#full_x5F_london:hover path, 
#full_x5F_ny:hover path{
	stroke-width:40px;
}


/************ DISTANCE ************/

/************ CLEARFIX ************/

.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

*::selection { 
	background: #e3d212;
	color: white;
} 
/************ CLEARFIX ************/

/************ GRAPH ************/

/*Nationalité chauffeur*/

.nation_usa{
	width: 400px;
	position:absolute;
	left: 50px;
}

.nation_uk{
	width: 400px;
	position:absolute;
	left: 50px;
}

.graphnyc {
        float: left;
        margin-right: 15px;
        margin-top: 230px;
        padding: 5px;
        padding-bottom: 0px;
        width: 20px;
        text-align: center;
        font-size: 10px;
        font-weight: lighter;
        font-family: 'Oswald', sans-serif;
        background: #e3d212;
        color: black;
        opacity: 0;
}

#bangladesh{
	margin-right: 0;
}

.graphl {
        float: right;
        margin-top: 230px;
        margin-right: 40px;
        padding: 5px;
        padding-bottom: 0px;
        width: 120px;
        text-align: center;
        font-size: 10px;
        font-weight: lighter;
        font-family: 'Oswald', sans-serif;
        color: #e3d212;
        background: black;
        opacity: 0;
}

.london {
        -webkit-animation: london 2s forwards;
}

@-webkit-keyframes london {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-200px);/* % fois 2*/
              padding-bottom: 200px;
              opacity: 1;}/* % fois 2*/
}

.autre {
        -webkit-animation: other 2s forwards;
}

@-webkit-keyframes other {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-2px);/* % fois 2*/
              padding-bottom: 2px;
              opacity: 1;}/* % fois 2*/
}

.bangladesh{
        -webkit-animation: bangladesh 2s forwards ;
        
}

@-webkit-keyframes bangladesh {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-184px);/* % fois 8*/
              padding-bottom: 184px;
              opacity: 1;}/* % fois 8*/
}

.pakistan{
        -webkit-animation: pakistan 2s forwards ;
        
}

@-webkit-keyframes pakistan {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-104px);/* % fois 8*/
              padding-bottom: 104px;
              opacity: 1;}/* % fois 8*/
}

.inde{
        -webkit-animation: inde 2s forwards ;
        
}

@-webkit-keyframes inde {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-72px);/* % fois 8*/
              padding-bottom: 72px;
              opacity: 1;}/* % fois 8*/
}

.haiti{
        -webkit-animation: haiti 2s forwards ;
        
}

@-webkit-keyframes haiti {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-48px);/* % fois 8*/
              padding-bottom: 48px;
              opacity: 1;}/* % fois 8*/
}

.usa{
        -webkit-animation: usa 2s forwards ;
        
}

@-webkit-keyframes usa {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-40px);/* % fois 8*/
              padding-bottom: 40px;
              opacity: 1;}/* % fois 8*/
}

.egypte{
        -webkit-animation: egypte 2s forwards ;
        
}

@-webkit-keyframes egypte {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-32px);/* % fois 8*/
              padding-bottom: 32px;
              opacity: 1;}/* % fois 8*/
}

.chine{
        -webkit-animation: chine 2s forwards ;
        
}

@-webkit-keyframes chine {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-16px);/* % fois 8*/
              padding-bottom: 16px;
              opacity: 1;}/* % fois 8*/
}

.repdom{
        -webkit-animation: repdom 2s forwards ;
        
}

@-webkit-keyframes repdom {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-8px);/* % fois 8*/
              padding-bottom: 8px;
              opacity: 1;}/* % fois 8*/
}



/*temps de travail chauffeurs*/


#travail {
        width: 900px;
        text-align:center;
        position: absolute;
        height: 500px;
}

.heurel {
        float: right;
        margin-right: 180px;
        margin-top: 496px;
        padding: 5px;
        padding-bottom: 0px;
        width: 190px;
        text-align: center;
        font-weight: lighter;
        font-family: 'Oswald', sans-serif;
        color: #e3d212;
        background: black;
        opacity: 0;
}

.heurenyc {
        position:absolute;/*a voir si il fait rajouter ou pas dans le code globale*/ 
        left: 22%;/*a voir si il fait rajouter ou pas dans le code globale*/
        float: left;
        margin-right: 100px;
        margin-top: 496px;
        padding: 5px;
        padding-bottom: 0px;
        width: 190px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        background: #e3d212;
        color: black;
        opacity: 0;
}

.aug_hlondon{
        -webkit-animation: hlondon 2s forwards;
}

@-webkit-keyframes hlondon {
        0%{-webkit-transform:translateY(0px);}
        100%{-webkit-transform:translateY(-336px);
              padding-bottom: 336px;
              opacity: 1;}
}

.aug_hnyc{
        -webkit-animation: hnyc 2s forwards;
}

@-webkit-keyframes hnyc {
        0%{-webkit-transform:translateY(0px);}
        100%{-webkit-transform:translateY(-380px);
              padding-bottom: 380px;
              opacity: 1;}
}

/************ GRAPH ************/

/************ TARGET ************/

.target_london, 
.target_ny{
	position: absolute;
	top: 0;
	left:0;
	cursor: pointer;
}

.target_london{
	top: 600px;
	left: 270px;
}

.target_ny{
	top: 440px;
	left: 910px;
}

.targetlondon p,
.targetny p{
	position: absolute;
}

.on_london{
	left: 320px;
	top: 540px;
	width: 80px;
	padding: 10px 20px;
	background: rgba(0,0,0,.5);
	color: white;
	display: none;

	-webkit-animation-name: bounceIn;
	-webkit-animation-delay: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.3s;
	-webkit-animation-fill-mode: both;
	
}

.on_ny{
	left: 840px;
	top: 340px;
	width: 150px;
	padding: 10px 20px;
	background: rgba(0,0,0,.5);
	color: white;
	display: none;

	-webkit-animation-name: bounceIn;
	-webkit-animation-delay: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.3s;
	-webkit-animation-fill-mode: both;
}

.targetlondon .active_target{
	display: block;

	-webkit-animation-name: bounceIn;
	-webkit-animation-delay: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.3s;
	-webkit-animation-fill-mode: both;
}

.targetny .active_target{
	display: block;

	-webkit-animation-name: bounceIn;
	-webkit-animation-delay: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-function: linear;
	-webkit-animation-duration:.3s;
	-webkit-animation-fill-mode: both;
}




/************ TARGET ************/


