/*Nationalité chauffeur*/

#nation {
        width: 100%;
        height: 250px;
        text-align:center;
}

.graphnyc {
        float: left;
        margin-right: 10px;
        margin-top: 200px;
        padding: 5px;
        padding-bottom: 0px;
        width: 35px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        background: #e3d212;
        color: black;
        opacity: 0;
}

.graphl {
        float: right;
        margin-right: 130px;
        margin-top: 200px;
        padding: 5px;
        padding-bottom: 0px;
        width: 190px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color: #e3d212;
        background: black;
        opacity: 0;
}

#london {
        -webkit-animation: london 2s forwards;
}

@-webkit-keyframes london {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-184px);/* % fois 2*/
              padding-bottom: 184px;
              opacity: 1;}/* % fois 2*/
}

#autre {
        -webkit-animation: other 2s forwards;
}

@-webkit-keyframes other {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-2px);/* % fois 2*/
              padding-bottom: 2px;
              opacity: 1;}/* % fois 2*/
}

#bangladesh{
        -webkit-animation: bangladesh 2s forwards ;
        
}

@-webkit-keyframes bangladesh {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-184px);/* % fois 8*/
              padding-bottom: 184px;
              opacity: 1;}/* % fois 8*/
}

#pakistan{
        -webkit-animation: pakistan 2s forwards ;
        
}

@-webkit-keyframes pakistan {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-104px);/* % fois 8*/
              padding-bottom: 104px;
              opacity: 1;}/* % fois 8*/
}

#inde{
        -webkit-animation: inde 2s forwards ;
        
}

@-webkit-keyframes inde {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-72px);/* % fois 8*/
              padding-bottom: 72px;
              opacity: 1;}/* % fois 8*/
}

#haiti{
        -webkit-animation: haiti 2s forwards ;
        
}

@-webkit-keyframes haiti {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-48px);/* % fois 8*/
              padding-bottom: 48px;
              opacity: 1;}/* % fois 8*/
}

#usa{
        -webkit-animation: usa 2s forwards ;
        
}

@-webkit-keyframes usa {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-40px);/* % fois 8*/
              padding-bottom: 40px;
              opacity: 1;}/* % fois 8*/
}

#egypte{
        -webkit-animation: egypte 2s forwards ;
        
}

@-webkit-keyframes egypte {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-32px);/* % fois 8*/
              padding-bottom: 32px;
              opacity: 1;}/* % fois 8*/
}

#chine{
        -webkit-animation: chine 2s forwards ;
        
}

@-webkit-keyframes chine {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-16px);/* % fois 8*/
              padding-bottom: 16px;
              opacity: 1;}/* % fois 8*/
}

#repdom{
        -webkit-animation: repdom 2s forwards ;
        
}

@-webkit-keyframes repdom {
        0%{-webkit-transform:translateY(0px)}
        100%{-webkit-transform:translateY(-8px);/* % fois 8*/
              padding-bottom: 8px;
              opacity: 1;}/* % fois 8*/
}



/*temps de travail chauffeurs*/


#travail {
        width: 100%;
        height: 250px;
        text-align:center;
        position: relative;
}

.heurel {
        float: right;
        margin-right: 130px;
        margin-top: 200px;
        padding: 5px;
        padding-bottom: 0px;
        width: 190px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        color: #e3d212;
        background: black;
        opacity: 0;
}

.heurenyc {
        position:absolute;/*a voir si il fait rajouter ou pas dans le code globale*/ 
        left: 30%;/*a voir si il fait rajouter ou pas dans le code globale*/
        float: left;
        margin-right: 130px;
        margin-top: 200px;
        padding: 5px;
        padding-bottom: 0px;
        width: 190px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        background: #e3d212;
        color: black;
        opacity: 0;
}

#hlondon{
        -webkit-animation: hlondon 2s forwards;
}

@-webkit-keyframes hlondon {
        0%{-webkit-transform:translateY(0px);}
        100%{-webkit-transform:translateY(-168px);
              padding-bottom: 168px;
              opacity: 1;}
}

#hnyc{
        -webkit-animation: hnyc 2s forwards;
}

@-webkit-keyframes hnyc {
        0%{-webkit-transform:translateY(0px);}
        100%{-webkit-transform:translateY(-190px);
              padding-bottom: 190px;
              opacity: 1;}
}
